alembic==1.14.1
beautifulsoup4==4.12.3
celery==5.4.0
fastapi==0.115.8
httpx==0.28.1
mypy==1.15.0
orjson==3.10.15
psycopg[binary]==3.2.5
pydantic==2.10.6
pydantic-settings==2.7.1
pytest==8.3.4
python-dotenv==1.0.1
python-multipart==0.0.20
redis==5.2.1
ruff==0.9.7
sqlalchemy==2.0.38
uvicorn==0.34.0

